.modalBackdrop {
  position: absolute;
  inset: 0;
  z-index: 1000;
  backdrop-filter: blur(7px);
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  opacity: 0.4;
}

.modalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  width: 280px;
  height: 312px;
  padding: 16px;
  background: var(--main-light-green);
  opacity: 1;
  z-index: 1000;
}

@media only screen and (min-width: 768px) {
  .modalContainer {
    padding: 53px 61px 47px;
    width: 533px;
    height: 387px;
  }
}

@media only screen and (min-width: 1280px) {
  .modalContainer {
    width: 533px;
    height: 387px;
  }
}
.modalLogoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  height: 94px;
}

.modalLogoText {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: var(--main-black);
}

.modalText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--main-black);
}
.modalLogoutBtn {
  border-radius: 8px;
  padding: 11px 79px;
  width: 100%;
  height: 44px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--main-white);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: var(--main-black);
    transition: all 0.3s ease-in-out;
  }
}
.modalCancelBtn {
  border: 1px solid var(--main-black);
  border-radius: 8px;
  width: 100%;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--main-black);

  &:hover {
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);

    transition: all 0.3s ease-in-out;
  }
}
