.chart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 264px;
  background-color: transparent;
  border-radius: 100%;
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .chart-container {
    width: 288px;
    height: 288px;
  }
}

.balance-amount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--main-white);
}

.chart-empty {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: rgba(252, 252, 252, 0.6);
  line-height: 1.5;
}