.mainContainer {
  padding: 24px 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 744px) {
  .mainContainer {
    padding: 32px 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .mainContainer {
    width: 1280px;
    display: flex;
    padding: 35px 24px;
    gap: 24px;
  }
}
