.ballanceContainer {
  border-radius: 16px;
  padding: 16px;
  width: 338px;
  height: 143px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

@media only screen and (min-width: 1280px) {
  .ballanceContainer {
    border-radius: 16px;
    width: 448px;
    height: 469px;
  }
}
