.currencyContainer {
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	padding: 16px;
	width: 288px;
	height: 390px;
	background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	border-radius: 12px;
	gap: 37.5px;
	padding: 12px;
	width: 256px;
	height: 51px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 14px;
	color: var(--main-white);
	background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
}

.header div {
	flex: 1;
	text-align: center;
}

.header div:first-child {
	text-align: left;
}

.tableWrapper {
	width: 256px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 12px;
	padding-right: 12px;
}

.table {
	padding-top: 16px;
	padding-left: 29px;
	border-spacing: 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--main-white);
}

.table td {
	text-align: center;
}

.table td:first-child {
	padding-right: 66px;
}

.table td:nth-child(2) {
	padding-right: 47px;
}

.table td:last-child {
	padding-right: 0;
}

.table tr:last-child td,
.table tr:last-child th {
	padding-top: 29px;
}

.imgWrapper {
	position: relative;
	width: 234px;
	height: 174px;
	margin-top: 32px;
}

.img {
	object-fit: contain;
}

@media (min-width: 768px) {
	.currencyContainer {
		width: 336px;
		height: 310px;
		padding: 16px;
	}

	.header {
		width: 304px;
		font-size: 16px;
		padding: 16px;
	}

	.table {
		font-size: 16px;
		padding-left: 44px;
	}

	.tableWrapper {
		width: 304px;
		font-size: 16px;
	}

	.imgWrapper {
		width: 181px;
		height: 135px;
		margin-top: 9px;
	}

	.table {
		padding-left: 0px;
	}

	.table td:first-child {
		padding-right: 70px;
	}

	.table td:nth-child(2) {
		padding-right: 62px;
	}

	.table td:last-child {
		padding-right: 0;
	}
}

@media (min-width: 1280px) {
	.currencyContainer {
		width: 400px;
		padding: 0px 8px;
		background: none;
	}

	.header {
		width: 400px;
		font-size: 16px;
	}

	.table {
		font-size: 16px;
	}

	.tableWrapper {
		width: 400px;
	}

	.imgWrapper {
		width: 222px;
		height: 166px;
		margin-top: 21px;
	}

	.table {
		padding-left: 0px;
	}

	.table td:first-child {
		padding-right: 117px;
	}

	.table td:nth-child(2) {
		padding-right: 91px;
	}

	.table td:last-child {
		padding-right: 0;
	}
}