.currencyContainer {
  border-radius: 16px;
  padding: 16px;
  width: 336px;
  height: 310px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}

@media only screen and (min-width: 1280px) {
  .currencyContainer {
    border-radius: 16px;
    padding: 32px 27px;
    width: 757px;
    height: 585px;
  }
}
