.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .sidebarContainer {
    width: 706px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 310px;
  }
}

@media only screen and (min-width: 1280px) {
  .sidebarContainer {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 451px;
    height: 585px;
    margin: 0;
  }
}

.accountContainer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  width: 338px;
  height: 143px;
  background: linear-gradient(180deg, #355f64 0%, #294045 100%);
}

@media only screen and (min-width: 1280px) {
  .accountContainer {
    border-radius: 24px;
    width: 448px;
    height: 469px;
  }
}
