.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  column-gap: 32px;
}

@media only screen and (min-width: 744px) {
  .sidebarContainer {
    width: 706px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 310px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .sidebarContainer {
    justify-content: flex-start;
    width: 451px;
    height: 757px;
    margin: 0;
  }
}
