.button {
  border: 1px solid var(--main-black);
  width: 100%;
  max-width: 271px;
  background-color: var(--main-light-green);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #498380;
  transition: all 0.3s ease-in-out;
}

.button:focus {
  background-color: #4b8582;
}

@media only screen and (min-width: 768px) {
  .button {
    max-width: 410px;
  }
}

.actions {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .actions {
    padding-top: 21px;
    padding-bottom: 46px;
  }
}
