.dashboardWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* Tablet */
@media (min-width: 768px) {
  .mainContent {
    gap: 32px;
    padding: 32px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .mainContent {
    flex-direction: row;
    width: 1280px;
    margin: 0 auto;
    gap: 24px;
    padding: 40px;
  }
}
