.modal {
  min-height: 548px;
}

@media only screen and (min-width: 768px) {
  .modal {
    min-height: 511px;
    min-width: 540px;
  }
}

.h2 {
  padding: 40px 0 30px 0;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
