:global(.react-datepicker-wrapper) {
  width: 100%;
}

:global(.react-datepicker__input-container) {
  width: 100%;
}

:global(.react-datepicker-popper) {
  z-index: 1000;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 271px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .form {
    max-width: 410px;
  }
}

.formGrop {
  width: 100%;
  padding-bottom: 12px;
  position: relative;
}

.input {
  width: 100%;
  padding: 11px 14px;
  font-weight: 500;
  font-size: 18px;
  background-color: var(--main-light-green);
  border: 1px solid var(--main-black);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .fixedWidth {
    width: 193px;
  }
}

.fixedWidthGrop {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .fixedWidthGrop {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.input::placeholder {
  color: #3b5d63;
}

.inputError {
  border: 1px solid var(--main-red);
}

.inputSuccess {
  border: 1px solid var(--main-dark-green);
}

.errorText {
  padding-top: 4px;
  color: var(--main-red);
}

.buttonSubmit {
  width: 100%;
  padding: 11px 14px;
  font-weight: 500;
  font-size: 18px;

  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  color: var(--main-white);
  border: 1px solid #355359;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.buttonSubmit:hover {
  background: linear-gradient(180deg, #2b4448 0%, #355358 100%);
}

.buttonSubmit:focus {
  background: linear-gradient(180deg, #2e484c 0%, #38575c 100%);
}

.iconDate {
  background-color: var(--main-light-green);
  position: absolute;
  right: 14px;
  top: 23px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
